body, ul, li {
    display: flex;
    margin: 40px 20px;
}

html {
    background-color: lightgray;
}

ul{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

li {
    border: 5px solid black;
    padding: 30px;
    background-color: white;
}

img {
    object-fit: contain;
}