@media (max-width: 600px) {
    #main-menu{
        padding: 0px 200px 0 200px
    }

    #main-menu img{
        float: none;
       padding: 0px;
      text-align: center;
      vertical-align: middle;
    }

    #main-menu ul {
        display: block;
        padding: 0px 20px 0px 20px;
    }

     #main-menu ul li{
        display: block;
        text-align: center;
        border: 1px solid red;
        overflow: hidden;
        margin-bottom: 10px;
        
     }

     #left-aside {
   
        display: block;
        text-align: center;
        margin-top: 10px;
     } 

     #left-aside article {
        display: inline-block;
        border: none;
        margin: 0px 8% 0px 8%;
     }
    
     #news{
        width: 100%;
     }
     #news article{
        display: block;
        width: 90%;
        margin: 0px;
     }

     
     #right-aside {
        width: 92%;    
        margin: 10px 20px 30px 10px;
     }

     footer{
        padding: 20px 0px 20px 0;
     }

     footer ul {
        display: block;
        width: 50%;
        margin-left: 0px;
     }
}